:root {
  --black: #0b090a;
  --white: #ffffff;
  --nav: #161a1d;
  --primary: #8c0f11;
  --accent: #e5383b;
  --background: #d3d3d3;
}

/* * {
  background-color: var(--background);
} */

/* -------------------------------------------- <<< Nav Css >>> -------------------------------------------------------- */
.bg-nav {
  background-color: var(--nav);
  overflow: hidden;
}
nav {
  padding: 10px 0;
}
/* TO DO: Condense the logo and a properties to lessen how many times background color style is written */
/* ------------------------------------------ <<< Logo CSS >>> ----------------------------------------------------- */

#logo {
  width: 50px;
  height: 50px;
  margin: 10px;
}

#logo:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

/* ---------------------------------------- <<< Artist Picture (left side) CSS >>> --------------------------------------- */

#artist-pic {
  width: 100%;
  filter: sepia(86%) saturate(3500%) hue-rotate(351deg) brightness(85%)
    contrast(80%) blur(1px); /*filter for red primary color #ba181b color*/
}

/* ------------------------------------------ <<< Button CSS >>> --------------------------------------------------------- */
.btns {
  width: 70%;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.btns.box {
  padding: 20px;
  background-color: var(--background);
}

button {
  font-size: 1.25rem;
  border: none;
  padding: 10px 80px;
  font-family: "Times New Roman", Times, serif;
  position: relative;
  /* color: var(--white); */
  font-weight: bold;
  background-color:transparent;
}

.active {
  background-image: linear-gradient(to right, var(--accent), purple);
  color: var(--white);
  border-radius: 6px;
}

button:active {
  /* background-color: var(--accent); */
  background-image: linear-gradient(to right, var(--accent), purple);
  color: var(--white);
  border-radius: 6px;
}


/* ------------------------------------------ <<< Viewer Box CSS >>> ---------------------------------------------------- */


.album-img-container {
  width: 70%;
  margin: 0 15%;
  background-color: var(--background);
}

.album-img {
  width: 40%;
  margin: 0 31%;
  border-radius: 12px;
}

.music-view {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--background);
  width: 70%;
  margin: 0 15%;
  height: 250px;
  padding: 20px;
}

.shows-view {
  display: none;
}

.content {
  display: block;
  overflow: auto;
  width: 600px;
  height: 200px;
  border-radius: 12px;

}

ul {
  text-align: center;
}

li {
  list-style: none;
}