:root {
  --black: #0b090a;
  --white: #ffffff;
  --nav: #161a1d;
  --primary: #ba181b;
  --background: #d3d3d3;
}

body {
  background-color: var(--background);
  font-family: "Times New Roman", Times, serif;
  transition: background-color 0.5s;
}

.navbar-item img {
  max-height: 3rem;
}

.logo:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.navbar-item {
  color: rgb(18, 17, 17);
  font-weight: 700;
  font-size: 1.125rem;
}


#theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}


.dark-mode{
    background-color: #171616;
    color: #bfbaba;
} 

#search{
  padding: 10px;
}

#searchBox{
  margin-left: 10px;
  padding: 5px;
  margin-top: 10px;
}

#results{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  padding: 50px;
}

#search-history .history-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#search-history .history-list li {
  margin-right: 10px;
  cursor: pointer;
}

.trending {
  margin: 2%;
}

.trending-artists-header {
  text-align: center; /* Center the text horizontally */
  font-size: 2em;     /* Make the font size larger */
  font-weight: bold;  /* Make the font bold */
  margin-top: 20px;   /* Optional: Add some space above the header */
  margin-bottom: 20px;/* Optional: Add some space below the header */
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 10px; 
}

.card {
  flex: 1; 
  min-width: 200px; 
  margin: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card:hover {
  cursor: pointer;
}

.card img {
  width: 100%; 
  height: 375px; 
}

.description {
  padding: 10px;
  text-align: center; 
}

.card-title {
  text-align: center; 
  font-weight: bold; 
  font-size: large;
  margin: 10px 0; 
}

.footer{
  background-color: #161a1d;
  color: #841d1d;
  padding: 20px 0;
}

.footer-section{
  margin-bottom: 20px;
}

.footer h3{
  color: #d9d1d1;
  font-weight: 900;
}

.footer a{
  color: #bfbaba;
}x

.footer a:hover{
  text-decoration: underline;
}

.footer p{
  line-height: 1.5;
}

.content.has-text-centered{
  margin: 20px;
}

.footer-links{
  margin-right: 35px;
}

.copyright{
  color: #bfbaba;
}

li{
  list-style: none;
}