:root {
  --black: #0b090a;
  --white: #ffffff;
  --nav: #161a1d;
  --primary: #821517;
  --background: #d3d3d3;
  --grey: #bfbaba;
  --darkmode: #171616;
  --accent: #e5383b;

}
/* Body Styling: Setting background, font, and transition properties for the entire page */
body {
  background-color: var(--background);
  font-family: "Times New Roman", Times, serif;
  transition: background-color 0.5s;
  scroll-behavior: smooth;
}
/* Navbar Image Styling: Logo */
.navbar-item img {
  max-height: 3rem;
}
/* Logo Hover Effect: Enlarging the logo on hover for an interactive effect */
.logo:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}
/* Navbar Item Styling: Font styling for navbar items */
.navbar-item {
  color: rgb(18, 17, 17);
  font-weight: 700;
  font-size: 1.125rem;
}

/* Theme Toggle Button Styling: Positioning and styling the theme toggle button */
#theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

/* Dark Mode Styling: Setting background and text color for dark mode */
.dark-mode{
    background-color: var(--darkmode);
    color: #bfbaba;
} 
/* Search Box Styling */
#search{
  padding: 10px;
}

#searchBox{
  margin-left: 10px;
  padding: 5px;
  margin-top: 10px;
}
/* Grid Layout for Search Results */
#results{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  padding: 50px;
}
/* Search History List Styling */
#search-history .history-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#search-history .history-list li {
  margin-right: 10px;
  cursor: pointer;
}
/* Trending Section Styling */
.trending {
  margin: 2%;
}

.trending-artists-header {
  text-align: center; 
  font-size: 2em;     
  font-weight: bold;  
  margin-top: 20px;   
  margin-bottom: 20px;
}

/* Card Container and Card Styling for trending artists */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 10px; 
}

.card {
  flex: 1; 
  min-width: 200px; 
  margin: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card:hover {
  cursor: pointer;
}

.card img {
  width: 100%; 
  height: 375px; 
}

.description {
  padding: 10px;
  text-align: center; 
}

.card-title {
  text-align: center; 
  font-weight: bold; 
  font-size: large;
  margin: 10px 0; 
}
/* Footer Styling */
.footer{
  background-color:var(--darkmode);
  color: var(--primary);
  padding: 20px 0;
  border-top: 2px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to right, var(--accent), purple);
}

.footer-section{
  margin-bottom: 20px;
}

.footer h3{
  color: #d9d1d1;
  font-weight: 900;
}

.footer a{
  color: var(--grey);
}x

.footer a:hover{
  text-decoration: underline;
}

.footer p{
  line-height: 1.5;
}

.content.has-text-centered{
  margin: 20px;
}

.footer-links{
  margin-right: 35px;
}

.copyright{
  color: var(--grey);
}

li{
  list-style: none;
}

.hidden{
  visibility: hidden;
}